:root {
    --website-theme-gradient: linear-gradient(45deg, var(--clr-primary-400),var(--clr-primary-800), var(--clr-primary-900))/*linear-gradient(45deg, transparent, rgb(82, 142, 211))*/;
    --website-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --default-font-size: 1.2em;
    --default-box-shadow: 0 0 5px 2px #0000001c;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--website-font-family) !important;
    font-size: var(--default-font-size) !important;
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#content {
    padding: 1em 10em;
}

/*
Helper Class
*/
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.display-block {
    display: block;
}

.btn-custom {
    background: transparent !important;
    color: var(--clr-primary-800) !important;
    border: 2px solid var(--clr-primary-800) !important;
}

.btn-custom-lt {
    background: transparent !important;
    color: white !important;
    border: 2px solid white !important;
}

.section-heading {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    padding-top: 1em;
}

/*
Header Section
*/
#header {
    background: var(--website-theme-gradient);
    padding: 0.8em 10em;
}

#header .header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

#header .header-nav>ul {
    display: flex;
    gap: 2em;
    list-style: none;
    margin: 0 !important;
}

#header .header-nav>ul>li>a,
#footer .footer-nav>ul>li>a {
    color: white;
    font-family: var(--website-font-family);
    text-decoration: none;
}

#header .header-logo-img {
    /*height: 3em;*/
}

/*
Footer Section
*/
#footer {
    background: var(--website-theme-gradient);
    padding: 1em 10em;
    color: white;
}

#footer h6,
#footer #footer-content-container .footer-logo {
    margin: 2rem 0;
} 

#footer #footer-content-container .footer-logo,
#footer #footer-content-container .footer-nav {
    /*margin-bottom: 5em;*/
    flex-grow: 1;
}

/*
#footer #footer-content-container .footer-logo .footer-logo-img {
    height: 5em; 
}
*/

#footer #footer-content-container .footer-nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1em;
    list-style: none;
    padding: 0;
}

#footer #footer-content-container {
    display: flex;
    gap: 5em;
}

#footer #footer-content-container .footer-address {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

#footer #footer-content-container .footer-logo-social-media>a {
    color: gray;
}

/*
Hero Section
*/
#hero-container {
    background: linear-gradient(180deg, rgb(189, 186, 186), rgb(230, 230, 230), white, transparent);
    height: 50svh;
}

#hero {
    height: 100%;
    display: flex;
    align-items: end;
    padding: 1em 2em;
}

#hero #hero-content-summary {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero #hero-content-summary > h1 {
    font-size: 5rem;
}

#hero>img {
    height: 15em;
}

/*About Summary*/
.about-content {
    line-height: 2rem;
}

.about-content > h2, .about-content > h4 {
    margin-bottom: 2rem;
}


#about-summary-container {
    padding: 2em;
}

#about-summary-container #about-summary-stats {
    font-size: 2em;
    display: flex;
    gap: 3em;
    justify-content: center;
    padding-bottom: 1em;
}

#about-summary-container #about-summary-map {
    overflow: hidden;
    box-shadow: 0 0 20px 2px #e1e1e1;
}

/*Speciality Section*/
#speciality-container {
    padding-left: 10em;
    padding-right: 10em;
}

#speciality-container,
#clients-container {
    /*background: rgb(220, 220, 220);*/
    background-color: white;
}

#speciality-container #speciality {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 4rem;
    margin: 2rem 4rem;
    /*
    display: flex;
    gap: 1em;
    padding: 1em 2em;
    justify-content: center;
    align-items: center;
    */
}

#speciality-container #speciality > div {
    flex-grow: 1;
}

#speciality-container #speciality .speciality-category-container {
    box-shadow: var(--default-box-shadow);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows: 30% 10% 60%;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
}

#speciality-container #speciality .speciality-category-container > p {
    font-size: 1rem;
    line-height: 2rem;
}

#speciality-container #speciality .speciality-category-container .speciality-category-icon {
    font-size: 3em;
}

/*Products Section*/
#featured-products {
    background: white;
    margin: 2rem 4rem;
}

#products .product-card {
    height: 20em;
    width: 15em;
    border: 1px solid rgb(199, 199, 199);
}

#products .product-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#products-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    padding: 2em 10em;
}

.product-card,
.product-card-home {
    display: flex;
    box-shadow: var(--default-box-shadow);
    border-radius: 10px;
    padding: 1em;
    gap: 1em;
}

.product-card-home {
    width: 50%;
}

.product-card-img {
    height: 15em;
    width: 15em;
}

.product-card-desc {
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#featured-products-container {
    padding-left: 10em;
    padding-right: 10em;
}

#featured-products-container #featured-products-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#featured-products-container #featured-products {
    display: flex;
    gap: 1em;
}

#product-dialog {
    border: none;
    box-shadow: 0 0 10px 4px #0000007d;
}



/*Contact*/
#contact-content-container {
    display: flex;
    gap: 5em;
}

#contact-form-container {
    flex: 1 auto;
}

#contact-content-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    margin-top: -4.7em;
}


/*Scoller*/

.scroller {
  max-width: 100vw;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}   

.scroller__inner img{
    height: fit-content;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 120s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
  }
  
